body{
  background-color: rgb(118, 100, 169);
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,4rem);
	grid-template-rows: repeat(3,4rem);
  background-color: rgb(40, 26, 60);
  grid-gap: .5rem;
  margin: 1rem;
}

.cell{
  background-color: rgb(118, 100, 169);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue{
  color: rgb(191, 191, 239);
}

.red{
  color: rgb(62, 34, 115);
}

.sign{
  transform: translateY(-.25rem);
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  font-family: 'Comfortaa';
  font-weight:400;
}

button{
  background-color: rgb(40, 26, 60);
  color: rgb(217, 217, 255);
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: all .2s ;
}

button:hover{
  background-color: rgb(61, 49, 84);
  color: rgb(217, 217, 255);
}